@import url(style/style.css);

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: var(--m-White);
  background-color: var(--m-primary) !important;
}

* {
  color: var(--m-tertiary);
}

a {
  text-decoration: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--m-primary) !important;
}
